.buttonPair {
    display: flex;
}

.leftButton {
    padding: 0.5rem;
    background-color: #063F5E;
    color: white;
    border: 1px #063F5E solid;
    border-radius: 2px 0 0 2px;
}

.leftCount {
    color: #063F5E;
    background-color: white;
    margin: 5px 8px;
    padding: 2px 8px;
    border-radius: 3px;
}

.rightButton {
    color: #737373;
    padding: 0.5rem;
    border: 1px #737373 solid;
    border-radius: 0 2px 2px 0;
}

.rightCount {
    color: white;
    background-color: #737373;
    margin: 5px 8px;
    padding: 4px 8px;
    border-radius: 3px;
}