.buttonPair {
    display: flex;
}

.leftButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 8px;
    background-color: #063F5E;
    color: white;
    border: 1px #063F5E solid;
    border-radius: 2px 0 0 2px;
}

.leftCountStyle {
    color: #063F5E;
    background-color: white;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 3px;
}

.rightButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 8px;
    background-color: white;
    color: #737373;
    border: 1px #737373 solid;
    border-radius: 0 2px 2px 0;
}

.rightCountStyle {
    color: white;
    background-color: #737373;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 3px;
}
