.box {
    width: max-content;
    border: 1px solid #E7E5E4;
    padding: 2px 8px;
}

.heading {
    text-decoration: underline;
    font-weight: bold;
    margin: none;
    color: #00507A;
}


@media (max-width: 800px){
    .box {
        opacity: 0;
        height: 0;
        width: 0;
    }
}

