.container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    background-color: #E5E5E5;
    box-shadow: 0 0 3px 2px #D6D3D1;
}

.containerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #525252;
    padding: 10px;
}

.containerHeader {
    color: white;
}

.containerButtons1 {
    display: flex;
    gap: 4px;
}

.containerButtons2 {
    display: flex;
    gap: 1%;
    padding: 12px;
    flex-wrap: wrap;
}

.cards{
    padding: 12px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: space-evenly;
}

@media (max-width: 1024px) {
    .cards {
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
}
@media (max-width: 640px) {
    .cards {
        grid-template-columns: auto;
    }

}


