.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #E5E5E5;
    font-family: Arial, Helvetica, sans-serif;
}

.containerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #525252;
    padding: 10px;
}

.containerHeader {
    color: white;
}

.containerButtons1 {
    display: flex;
    gap: 4px;
}

.containerButtons2 {
    display: flex;
    gap: 1%;
    padding: 12px;
}

.cards {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}