.primaryButton {
    display: flex;
    gap: 0.5rem;
    padding: 0.75rem;
    background-color: #501214;
    color: white;
}

.primaryButton:hover {
    background-color: #7A2026;
}

.primaryButton:active {
    background-color: #340507;
}

.primaryButton:focus{
    border: 1px solid white;
    outline: 1px #3DBBDB solid;
    border-radius: 2px;
}