.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    background-color: #F5F5F4;
    box-shadow: 0 0 3px 2px #D6D3D1;
    font-family: Arial, Helvetica, sans-serif;
    transition: width 2s;
}

.description {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 12px 12px;
}

.descriptionH3{
    color: #00507A;
    margin: 0;
}

.descriptionH4 {
    color: #525252;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
