.search {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 80%;
    transition: width 2s;
}

.searchBar {
    display: flex;
    padding: 4px;
    border: 1px #57534E solid;  
    border-radius: 2px; 
    width: 100%; 
}

.searchValue {
    border: none;
     width: 100%; 
    outline: none;
}

.searchIcon {
    background-color: white;
    border: none;
}

.helper { 
    width: 100%;
}

@media (min-width: 640px) {
    .search {
        width: 90%;
    }
    
}