.storeIcon {
    background-color: #737373;
    padding: 0.5rem;
    color: white;
}

.storeIcon:hover {
    background-color: #A3A3A3;
}

.storeIcon:active {
    background-color: #D4D4D4;
}

.storeIcon:focus {
    border: 1px solid white;
    outline: 1px #3DBBDB solid;
    border-radius: 2px;
}